<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ls.comunicator">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SettingsActivity"
            android:label="@string/title_activity_settings2"></activity>
        <activity
            android:name=".view.CardSettingsActivity"
            android:label="@string/title_activity_card_settings"/>
        <activity
            android:name=".view.ListCardsActivity"
            android:label="@string/title_activity_card_list"/>
        <activity
            android:name=".view.PageCreationActivity"
            android:label="@string/title_activity_page_creation">
            <intent-filter>
                <action android:name="com.ls.comunicator.activity.PageCreationActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".view.CasesActivity"
            android:label="@string/title_activity_cases"/>
        <activity
            android:name=".view.ListsActivity"
            android:label="@string/title_activity_settings">
            <intent-filter>
                <action android:name="com.ls.comunicator.activity.ListActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>